<div class="row">
  <div class="col-md-12">
    <h1 class="app-title">Angular CRUD</h1>
  </div>
</div>

<div class="col-md-offset-1 col-md-5">
  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">Formulario de usuario</div>
      <div class="panel-body">
        
        <form autocomplete="off" [formGroup]="userForm">
          <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && _fc.name.errors && _fc.role.errors && _fc.active.errors }">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <span *ngIf="isSubmitted && _fc.name.errors" class="help-block">El nombre es requerido!</span>


            <label for="roles">Rol</label>
            <select id="roles" class="form-control" formControlName="role">
              <option *ngFor="let order of roles; let i = index" [value]="roles[i].id">
                {{roles[i].name}}
              </option>
            </select>
            <span *ngIf="isSubmitted && _fc.role.errors" class="help-block">El rol es requerido!</span>

            <label for="active">Activo</label>
            <div class="form-check">
              <input type="radio" id="yes" name="active" value="SI" class="form-check-input" formControlName="active">
              <label for="yes" class="form-check-label">SI</label>
            </div>
            <div class="form-check">
              <input type="radio" id="no" name="active" value="NO" class="form-check-input" formControlName="active">
              <label for="no" class="form-check-label">NO</label>
            </div>
            <span *ngIf="isSubmitted && _fc.active.errors" class="help-block">El estado es requerido!</span>

          </div>
          
          <button type="button" class="btn btn-success" (click)="save()"> {{ !userForm.get('id').value ? 'Crear' : 'Actualizar' }}</button>
          <button type="button" class="btn btn-danger" (click)="reset()">Limpiar</button>
        </form>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">Busqueda</div>
      <div class="panel-body">
        
        <form autocomplete="off" [formGroup]="userForm">
          <div class="form-group">
            <label for="name">Nombre de usuario</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          
          <button type="button" class="btn btn-success" (click)="search()">Buscar</button>
          <button type="button" class="btn btn-danger" (click)="reset()">Limpiar</button>
        </form>

      </div>
    </div>

  </div>
</div>

<div class="col-md-5">
    
  <div class="panel panel-primary">
    <div class="panel-heading">Lista de usuarios</div>
    <div class="panel-body">

      <table style="width:100%">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Rol</th>
          <th>Activo</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let user of userList">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.role.name }}</td>
          <td>{{ user.active }}</td>
          <td>
            <button (click)="edit(user.id)" class="btn btn-sm btn-warning" [disabled]="user.isReading">
              <span>Editar</span>
            </button>
            <button (click)="delete(user.id)" class="btn btn-sm btn-danger" [disabled]="user.isDeleting">
              <span>Eliminar</span>
            </button>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
